/* CSS for Navbar */
.navbar {
  background-color: #2ecc71; /* Green background color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* White text color */
  text-decoration: none;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-button {
  background-color: #fff;
  color: #2ecc71;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

/* Style for the sign-in/sign-out button when the user is signed in */
.navbar-button.signin {
  background-color: #2ecc71;
  color: #fff;
}

/* Add this CSS to your existing SCSS file or a separate one */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #fff;
  color: #2ecc71;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown-divider {
  border-top: 1px solid #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the sign-in/sign-out button when the user is signed in */
.navbar-button.signin {
  background-color: #2ecc71;
  color: #fff;
}
